<a href="https://colab.research.google.com/github/devAquino/Desafio-BeAnalytic/blob/main/Desafio_BeAnalytic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Data Engeneer Jr. BeAnalytic

In [1]:
# Importação do pandas para manipulação do conjunto de daddos
import pandas as pd

In [2]:
# importando regular expres
import re

In [4]:
dados = pd.read_json('/content/drive/MyDrive/data-celi_9llyHC-1-dTorBmd.json')
# Mostra as 5 primeiras linhas
dados.head()

,name,phone,email,address,postalZip,region,country,list,numberrange,currency
0,Jerry Snyder,1-963-621-3676,molestie.pharetra.nibh@aol.com,631-6614 Quis Road,3715 CO,Ankara,France,11,10,$42.23
1,Evelyn Cortez,(438) 713-1664,eget.ipsum@outlook.org,283-4910 Quis Road,69845,Zaporizhzhia oblast,Sweden,13,5,$62.78
2,Keane Gross,1-681-418-7743,ridiculus.mus@hotmail.net,"P.O. Box 957, 1870 Donec St.",12528,Central Sulawesi,Sweden,11,10,$36.01
3,Illana Collins,(356) 124-0101,eu@protonmail.com,978-5629 Semper Street,76135,Maule,Sweden,13,5,$37.14
4,Hedley Mejia,1-267-247-1174,a@aol.org,"P.O. Box 461, 9908 Luctus Road",3543 LM,Provence-Alpes-Côte d'Azur,Canada,5,4,$10.49

*Conferindo o tipo de dado de cada coluna*

In [5]:
dados.dtypes

name           object
phone          object
email          object
address        object
postalZip      object
region         object
country        object
list            int64
numberrange     int64
currency       object
dtype: object

*Imprimindo as 10 primeiras linhas*

In [6]:
# Mostra as linhas de 1 a 10
dados.loc[1:10]

,name,phone,email,address,postalZip,region,country,list,numberrange,currency
1,Evelyn Cortez,(438) 713-1664,eget.ipsum@outlook.org,283-4910 Quis Road,69845,Zaporizhzhia oblast,Sweden,13,5,$62.78
2,Keane Gross,1-681-418-7743,ridiculus.mus@hotmail.net,"P.O. Box 957, 1870 Donec St.",12528,Central Sulawesi,Sweden,11,10,$36.01
3,Illana Collins,(356) 124-0101,eu@protonmail.com,978-5629 Semper Street,76135,Maule,Sweden,13,5,$37.14
4,Hedley Mejia,1-267-247-1174,a@aol.org,"P.O. Box 461, 9908 Luctus Road",3543 LM,Provence-Alpes-Côte d'Azur,Canada,5,4,$10.49
5,Caleb Finch,1-262-522-8138,nulla.ante@hotmail.net,792-2262 Et Street,14980,North Island,Russian Federation,19,4,$76.60
6,Vera Terry,1-652-351-7936,neque.nullam@protonmail.net,Ap #557-5929 Eu Rd.,12328,Metropolitana de Santiago,United Kingdom,17,8,$95.29
7,May Jimenez,1-941-733-8663,orci.ut@outlook.edu,293-7344 Velit Rd.,7379,Emilia-Romagna,Netherlands,11,0,$5.57
8,Porter Lucas,1-815-752-1933,suspendisse.commodo@outlook.edu,1931 Posuere Avenue,66133,Caraga,Vietnam,13,6,$40.89
9,Justina Montgomery,(478) 626-8456,quis.pede.suspendisse@yahoo.ca,3179 Quisque Rd.,824486,Maranhão,Chile,15,2,$86.10
10,Isaac Gregory,(118) 494-6678,enim.etiam@hotmail.com,"P.O. Box 258, 7356 Cras Street",74541-48371,Aydın,South Africa,13,6,$41.54

*Verificando se há valores ausentes*.

In [7]:
dados.isnull().sum()

name           0
phone          0
email          0
address        0
postalZip      0
region         0
country        0
list           0
numberrange    0
currency       0
dtype: int64

***A validação dos dados deve ocorrer de acordo com a regra de negócio, mas como é um case técnico, criarei uma condição de validação***

***Utilizando regex para criar máscaras para o tratamento das colunas email, phone e postalZip***

In [33]:
mascara_email = '^[a-z]+[\._]?[a-z0-9]+[@]\w+[.](com|edu|net|org|br)'
mascara_phone = '^[(][1-9]{2,2}[)]\s?[0-9]{5,5}-[0-9]{4,4}$'
mascara_postalZip = '^\d{5}-\d{3}$'

***Armazenando os valores das colunas em uma nova coluna para garantir a segurançã dos dados caso haja falhas.***

In [34]:
dados_postalZip = dados['postalZip']
dados_phone = dados['phone']
dados_email = dados['email']

In [35]:
# O postalZip deve conter 5 valores numérios um hífen e mais 3 valores numéricos.
# Se os dados nesse campo não passarem pela validação, os valores serão substituidos por 00000-000.

#Lista para armazenar os postalZips validados
postalZip_validado = []

def valida_postalZip():
  for postal_zip in dados_postalZip:
    postalZip_valido = re.search(mascara_postalZip, postal_zip)
    if postalZip_valido:
      postalZip_validado.append(postal_zip)
    else:
      postalZip_validado.append("00000-000")
  

valida_postalZip()

***Testando a validação do postalZip.***

In [ ]:
postal_zip = '23469-123'

if(re.search(mascara_postalZip, postal_zip)):
    print('PostalZip certo')
else:
    print('PostalZip errado')

PostalZip certo

In [36]:
dados_postalZip = postalZip_validado

In [ ]:
# O phone deve ter 2 números entre 1 e 9 entre parentes, representando o DDD, poderá ter espaço ou não, após o parênteses,
# 5 números entre 0 e 9 seguido de um hífen e mais 4 números entre 0 e 9.

#Lista para armazenar os telefones validados
phone_validado = []

def valida_phone():
  for phone in dados_phone:
    phone_valido = re.search(mascara_phone, phone)
    if phone_valido:
      phone_validado.append(phone)
    else:
      phone_validado.append("(00) 00000-0000")
  return phone_validado

valida_phone()

***Testando validação do phone.***

In [ ]:
phone = '(11) 22222-1234'

if(re.search(mascara_phone, phone)):
    print('Phone certo')
else:
    print('Phone errado')

Phone certo

In [38]:
dados_phone = phone_validado

In [39]:
# O email deve iniciar com letra minúscula, pode ter ponto final ou underscore,
# deve conter o arroba, após o arroba deve conter letras, após as letras o ponto seguido por um das
# seguintes opções: (com, edu, net, org, br) 

#Lista para armazenar os emails validados.
email_validado = []

# Função responsável pela validação dos emails.
def valida_email():
  for email in dados_email:
    email_valido = re.search(mascara_email, email)
    if email_valido:
      email_validado.append(email)
    else:
      email_validado.append("invalid email")
  
valida_email()

*Testando validação do email.*

In [ ]:
email = 'a.f@hotmail.com'

if(re.search(mascara_email, email)):
    print('Endereço certo')
else:
    print('Endereço errado')

Endereço certo

In [40]:
dados_email = email_validado

***Transformando o campo currency em um float.***

In [26]:
dados['currency'] = dados.currency.replace('[^\d.]','', regex=True).astype(float)

***Podemos observar que o $ foi removido e que os dados agora são do tipo float.***

In [29]:
dados.currency.head()

0    42.23
1    62.78
2    36.01
3    37.14
4    10.49
Name: currency, dtype: float64

***Atribuindo os dados validados aos campos originais do dataframe.***

In [41]:
dados['postalZip'] = dados_postalZip
dados['email'] = dados_email
dados['phone'] = dados_phone

***Agora podemos observer que no data frame os campos estão com os dados validados de acordo com minha regra de validação.***

In [31]:
dados

,name,phone,email,address,postalZip,region,country,list,numberrange,currency
0,Jerry Snyder,1-963-621-3676,molestie.pharetra.nibh@aol.com,631-6614 Quis Road,3715 CO,Ankara,France,11,10,42.23
1,Evelyn Cortez,(438) 713-1664,eget.ipsum@outlook.org,283-4910 Quis Road,69845,Zaporizhzhia oblast,Sweden,13,5,62.78
2,Keane Gross,1-681-418-7743,ridiculus.mus@hotmail.net,"P.O. Box 957, 1870 Donec St.",12528,Central Sulawesi,Sweden,11,10,36.01
3,Illana Collins,(356) 124-0101,eu@protonmail.com,978-5629 Semper Street,76135,Maule,Sweden,13,5,37.14
4,Hedley Mejia,1-267-247-1174,a@aol.org,"P.O. Box 461, 9908 Luctus Road",3543 LM,Provence-Alpes-Côte d'Azur,Canada,5,4,10.49
...,...,...,...,...,...,...,...,...,...,...
495,John Leonard,1-443-647-6638,ac.facilisis@protonmail.edu,Ap #907-7737 Quisque Avenue,979592,Andalucía,Australia,17,0,3.87
496,Sylvia Raymond,(885) 686-6380,magna.sed@outlook.com,Ap #662-2621 Nisi. Av.,4032,Puntarenas,Australia,7,2,75.51
497,Kasimir Perkins,(254) 338-9683,dolor.vitae.dolor@yahoo.ca,"P.O. Box 753, 4111 Risus. Ave",4648,Abruzzo,Philippines,7,3,47.15
498,Signe Shannon,1-656-860-4687,dapibus@outlook.edu,4932 Sit St.,K10 2DR,Oklahoma,Mexico,7,4,92.16
499,Cathleen Singleton,(467) 205-7385,erat.nonummy@hotmail.couk,1378 Urna Avenue,395675,Calabarzon,Philippines,15,3,61.74

***Agora podemos observar quais paises tem moedas (currency), com valor menor ou igual a 5.***

In [106]:
dados[dados.currency <= 5].groupby('country').min()

,name,phone,email,address,postalZip,region,list,numberrange,currency
country,,,,,,,,,
Australia,John Leonard,(00) 00000-0000,ac.facilisis@protonmail.edu,Ap #907-7737 Quisque Avenue,00000-000,Andalucía,17,0,3.87
Belgium,Shana Fischer,(00) 00000-0000,invalid email,"P.O. Box 154, 9679 Lacinia. Street",00000-000,Sardegna,13,9,2.27
Brazil,Stone Pierce,(00) 00000-0000,etiam.gravida@google.com,321-7425 Pede. Rd.,00000-000,Troms og Finnmark,11,7,2.63
China,Mari Steele,(00) 00000-0000,invalid email,155-1199 Blandit. Road,00000-000,Kharkiv oblast,5,3,0.71
Colombia,Geraldine Harper,(00) 00000-0000,invalid email,350-3891 Donec Av.,00000-000,Ancash,1,0,0.81
Ireland,Allen Bruce,(00) 00000-0000,sem.nulla@icloud.edu,"550-8266 Iaculis, St.",00000-000,Tyrol,5,7,4.80
Mexico,Linus Soto,(00) 00000-0000,invalid email,417-2977 Convallis Road,00000-000,Southeast Sulawesi,17,6,4.55
Netherlands,Kiayada Rhodes,(00) 00000-0000,luctus@yahoo.org,465-7530 Posuere Road,00000-000,Lai Châu,9,9,1.11
Nigeria,Micah Gonzalez,(00) 00000-0000,tortor@icloud.org,Ap #933-8436 Duis St.,00000-000,West Sulawesi,3,5,3.15
Norway,Raja Lester,(00) 00000-0000,invalid email,4083 Id Rd.,00000-000,Melilla,9,9,1.95
Pakistan,Avye Castro,(00) 00000-0000,invalid email,119-502 Aliquet Street,00000-000,Benue,3,4,2.78
Russian Federation,Melodie Mcintyre,(00) 00000-0000,invalid email,Ap #956-7182 Et Ave,00000-000,Dōngběi,9,8,1.79
South Korea,Aretha Burt,(00) 00000-0000,invalid email,Ap #899-869 Donec St.,00000-000,Ankara,11,0,1.94
Sweden,Kareem Aguirre,(00) 00000-0000,invalid email,719-5457 A Rd.,00000-000,Riau,11,8,1.26
United Kingdom,Buckminster Shaffer,(00) 00000-0000,invalid email,5962 Rutrum Rd.,00000-000,La Guajira,9,7,0.14
United States,Walker Bolton,(00) 00000-0000,vehicula.et@hotmail.org,"P.O. Box 669, 4468 Mollis Rd.",00000-000,Bangsamoro,11,9,3.63
Vietnam,Ishmael Guerrero,(00) 00000-0000,amet.nulla@yahoo.edu,"P.O. Box 652, 5161 Nulla. Rd.",00000-000,East Region,11,7,1.18

***Fazendo um filtro para capturar apenas os campos country e name.***

In [111]:
data_selected = ['country', 'name']
people_country = dados.filter(items=data_selected)
people_country

         country                name
0         France        Jerry Snyder
1         Sweden       Evelyn Cortez
2         Sweden         Keane Gross
3         Sweden      Illana Collins
4         Canada        Hedley Mejia
..           ...                 ...
495    Australia        John Leonard
496    Australia      Sylvia Raymond
497  Philippines     Kasimir Perkins
498       Mexico       Signe Shannon
499  Philippines  Cathleen Singleton

[500 rows x 2 columns]

***Como podemos ver apenas os paises e os nomes das pessoas são apresentados no entanto, ficaria melhor se os paises não se repetissem.***

In [154]:
# Agora sim podemos saber quem mora em qual país
people_country.groupby(['country', 'name']).size()

country    name
Australia  Azalia Colon         1
           Daniel Osborne       1
           Emery Church         1
           Imani Whitehead      1
           John Leonard         1
                               ..
Vietnam    Nasim Suarez         1
           Neville Armstrong    1
           Oren Craig           1
           Porter Lucas         1
           Wyatt Green          1
Length: 500, dtype: int64

In [155]:
# Podemos ver a quantidade de ocorrências em cada país, ou seja Australia tem 11 pessoas.
people_country.groupby(['country']).size()

country
Australia             11
Austria               12
Belgium               15
Brazil                17
Canada                21
Chile                 12
China                 17
Colombia              16
Costa Rica            13
France                16
Germany               12
India                 16
Indonesia             15
Ireland               13
Italy                 14
Mexico                14
Netherlands           15
New Zealand           14
Nigeria               10
Norway                11
Pakistan              11
Peru                  16
Philippines           17
Poland                 9
Russian Federation    16
Singapore             14
South Africa           8
South Korea           21
Spain                 21
Sweden                10
Turkey                15
Ukraine               14
United Kingdom        15
United States         18
Vietnam               11
dtype: int64

***Utilizando a api gspread para exportar para o google sheet.***

In [42]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)
work_book = gc.open_by_key('1A0dE0Fyc-gzZHIW_5c6xzoTJOvGjwJ-6RrCYPkplq2I')
work_sheet = work_book.worksheet('desafio_be_analytic')
work_sheet.update(None, dados.to_numpy().tolist())

{'spreadsheetId': '1A0dE0Fyc-gzZHIW_5c6xzoTJOvGjwJ-6RrCYPkplq2I',
 'updatedCells': 5000,
 'updatedColumns': 10,
 'updatedRange': 'desafio_be_analytic!A1:J500',
 'updatedRows': 500}

google sheets https://docs.google.com/spreadsheets/d/1A0dE0Fyc-gzZHIW_5c6xzoTJOvGjwJ-6RrCYPkplq2I/edit?usp=sharing